/* App.css or a dedicated styles file */

/* Light mode styles */
/* body {
  background-color: white;
  color: black;
} */

/* Dark mode specific styles */
.dark {
  background-color: #1a202c; /* Dark grey for dark mode */
  color: white;
}
