.hotel-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 200px; /* Increased horizontal margin for better spacing */
}

.hotel-item {
    display: flex;
    align-items: flex-start; /* Align items from the top to handle varying content sizes */
    margin-bottom: 20px;
    /* background-color: #02142c; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.hotel-image img {
    width: 200px;
    height: 207px;
    object-fit: cover;
    border-radius: 20px;
}

.hotel-details {
    padding: 20px;
    flex: 1;
    color: #000000; /* Ensuring text color is white for readability */
}

.hotel-details h2 {
    font-size: 28px; 
    color: #09083b; /* Dark blue color for a more professional look */
    font-family: 'Roboto', BlinkMacSystemFont, -apple-system, Segoe UI, Helvetica, Arial, sans-serif; /* Roboto as a fallback to Blue Sans */
    font-weight: 500; /* Medium weight for better visibility */
}


.hotel-details p {
    margin: 5px 0; /* Uniform margin for all paragraphs */
}

.rating {
    display: inline-block; 
    color: rgb(75, 4, 4); 
    margin-bottom: 10px; 
    
}

.star {
    color: gray; /* Default color for unfilled stars */
    font-size: 24px;
}

.star.filled {
    color: rgb(28, 14, 226); /* Gold color for filled stars */
    /* text-shadow: 0 0 5px #201de2;  */
    font-size: 24px;
}

@media (max-width: 600px) {
    .hotel-item {
        flex-direction: column;
    }

    .hotel-image img {
        width: 100%;
        height: auto; /* Adjust height automatically for mobile view */
        border-bottom: 1px solid #ddd; /* Adjust border for mobile */
    }

    .hotel-details {
        padding: 10px;
    }
}
